<script>
    var includedData = <%- includedData -%>;
</script>
<div class="header">
    <a href="/" class="active">Frogtown</a>
    <% for(var i = 0; i < allViews.length; i++){ %>
        <% if(allViews[i].hidden) { continue; } %>
        <% if(allViews[i].view === "myDecks") { %>
            <div class="btn-group" style="margin-top: -8px;">
                <div class="btn dropdown-toggle btn-mydecks <%= ("Deck Viewer" == view.title) ? "active" : "" %>" data-toggle="dropdown" aria-expanded="false"><%= allViews[i].title %><span class="caret" style="margin-left: 5px;"></span></div>
                <ul class="dropdown-menu">
                    <% var decks = JSON.parse(includedData).decks || []; %>
                    <% for(var deckI = 0; deckI < decks.length; deckI++){ %>
                        <li><a href="/deckViewer/<%= decks[deckI]._id %>/edit.html"><%- decks[deckI].name -%></a></li>
                    <% } %>
                    <% if(decks.length) { %>
                        <li role="separator" class="divider"></li>
                    <% } %>
                    <li><a href="#" id="tbNewDeck">New Deck</a></li>
                </ul>
            </div>
        <% } else { %>
            <a href="/<%= allViews[i].routes[0] %>.html" class="<%= (allViews[i].title == view.title) ? "active" : "" %>"><%= allViews[i].title %></a>
        <% } %>
    <% } %>
</div>