<% if (typeof(includedData) !== "undefined") { %>
  <script>
    var includedData = <%- includedData -%>;
  </script>
<% } %>
<div class="header">
  <a href="/" class="active">Frogtown</a>
  <% if (typeof(allViews) !== "undefined") { %>
    <% for(var i = 0; i < allViews.length; i++){ %>
      <% if(allViews[i].hidden) { continue; } %>
      <% if(allViews[i].view === "deckviewer") { %>
        <div class="btn-group" style="margin-top: -8px;" id="tb_mydecks">
          <div class="btn dropdown-toggle btn-mydecks <%= ("Deck Viewer" === (typeof(view) !== "undefined" && view.title)) ? "active" : "" %>" data-toggle="dropdown" aria-expanded="false"><%= allViews[i].title %><span class="caret" style="margin-left: 5px;"></span></div>
          <div class="dropdown-menu"><div id="deckDropdown"></div></div>
        </div>
      <% } else { %>
        <a href="/<%= allViews[i].routes[0] %>.html" id="tb_<%= allViews[i].routes[0] %>" class="<%= (allViews[i].title === (typeof(view) !== "undefined" && view.title)) ? "active" : "" %>"><%= allViews[i].title %></a>
      <% } %>
    <% } %>
  <% } %>
  <% if (typeof(debugBanner) === "string" && debugBanner.trim().length > 0) { %>
    <div id="debugbanner"><%- debugBanner -%></div>
  <% } %>
</div>